entrypoint = "main.py"
modules = ["web", "nodejs-20"]

[nix]
channel = "stable-25_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["node", "server.js"]
deploymentTarget = "autoscale"

[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install && node server.js"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
APP_URL = "https://05c37cbc-6ade-4655-b8d1-7a3a97aa5eb7-00-3hxmqkl5v8evf.spock.replit.dev"
